/* helper css */
* {
	box-sizing: border-box;
}

.alignLeft{
	float: left;
}


.alignRight{
	float: right;
}

@font-face {
	font-family: 'HelveticaNeue-Thin';
	src: local('../fonts/HelveticaNeue-Thin.otf'), url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
}

.container{
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
}

body{
	font-family: 'Montserrat', sans-serif;
}


.margin-bottom-10{
	margin-bottom: 10px;
}

.margin-bottom-20{
	margin-bottom: 20px;
}

.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-bottom-40{
	margin-bottom: 40px;
}

strong, b{
	font-weight: bold;
}

em, i{
	font-style: italic;
}

.hero{
    background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 3px;
    border-bottom: 4px solid transparent;
    transition: border-bottom .1s, color .1s;
}

.nav li a:hover{
    border-bottom: 4px solid white;
}

.hero h2 {
    color: white;
    margin-bottom: 40px;
}

.cta {
    position: relative;
    display: inline-block;
    margin-top: 90px;
}

.imgs {
    float: right;
    position: absolute;
    right: -135px;
}

.iphone {
    width: 85%;
    position: relative;
    margin-bottom: -240px;
}

.cta-info{
    width: 60%;
    padding-right: 150px;
    float: left;
}

.hero-para{
    font-size: 36px;
    line-height: 40px;
    font-family: 'HelveticaNeue-Thin';
    color: white;
    margin-bottom: 55px;
}

.cta-button{
    padding: 23px 35px;
    background: #282828;
    color: #FFF;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
}

.cta-button:hover{
    background: #383737;
    transition: 0.3s;
}

.phone-icon{
    vertical-align: middle;
    padding-right: 20px;
}


/* feature section */
.feature-section .container{
    text-align: center;
    padding: 60px;
}

.feature-section__title{
    color: #8a8a8a;
    margin-bottom: 40px;
}

.feature-section__summary{
    font-family: 'HelveticaNeue-Thin';
    font-size: 22px;
    line-height: 28px;
    padding: 0 130px;
}

/* feature{
    width: 33.33%;
    float: left;
    padding: 0 45px;
} */

.feature-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0;
}

.feature__content{
    font-family: 'HelveticaNeue-Thin';
    font-size: 18px;
    line-height: 24px;
    color: #646464;
}

.row{
    overflow: hidden;
    margin-top: 50px;
}

/* nose section */
.nose-section{
    background-image: url("../img/nose-bg.png");
    background-size: cover;
    background-position: center;
}

.download-info{
    width: 50%;
    padding: 200px 0;
}

.nose-section h2{
    color: white;
    margin-bottom: 40px;
}

.nose-section p{
    font-size: 24px;
    font-family: 'HelveticaNeue-Thin';
    line-height: 30px;
    padding-bottom: 30px;
}

.download-btn{
    padding: 15px;
    border-radius: 50px;
    color: white;
    background: #d9332d;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

.download-btn:hover{
    background: #c33934;
}

.reddish{
    color: #f55150;
}


/* footer */
.footer{
    background: #2e2e38;
}

.footer .container{
    padding: 120px 20px;
}

.footer h4{
    font-size: 20px;
}

.footer p{
    font-family: 'HelveticaNeue-Thin';
}

.footer__logo{
    padding-left: 30px;
}

.ul-posts li{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 70px;
}

.footer__row{
    padding-left: 30px;
}

.footer__col{
    float: left;
    width: 33.33%;
    color: white;
    margin-top: 77px;
}
.ul-posts,
.ul-tweets{
    font-family: 'HelveticaNeue-Thin';
    margin-top: 25px;
}

.reddish-bg{
    background: url('../img/rect1.png') no-repeat;
}

.block{
    display: block;
}

.p-about{
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
}

.ul-tweets li{
    list-style: none;
    margin-bottom: 25px;
}

.smallText{
    font-size: 11px;
    margin-top: 5px;
}

/* copyright */
.copyright .container{
    padding: 40px;
}

.copyright{
    text-align: center;
    background: #d7dedc;
}

.inline{
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.inline a{
    text-decoration: none;
    color: black;
}

.cr,
.me{
    margin-right: 40px;
}

.fb,
.dr,
.tw{
    margin-right: 10px;
}

.cr::after,
.me::after{
    content: '';
    border: 1px solid #555;
    margin-left: 35px;
}

.iphone-on{
    position: absolute;
    right: 175px;
    top: 112px;
    width: 54%;
}

.iphone-btn{
    position: absolute;
    right: 215px;
}


.js-wp-2{
    opacity: 0;
}

.js-wp-2.animated{
    opacity: 1;
}

.js-wp-3{
    opacity: 0;
    animation-delay: 3.2s;
}

.js-wp-3.animated{
    opacity: 1;
}

/* media queries */

@media only screen and (max-width: 1240px) {
    .cta-info{
        padding-right: 40px;
    }
    .download-info{
        width: 80%;
    }
}

@media only screen and (max-width: 820px){
    .iphone,
    .iphone-on,
    .iphone-btn{
        display: none;
    }

    .cta-info{
        width: 100%;
        text-align: center;
    }

    .feature-section__summary{
        padding: 0 30px;
    }

    .feature-row{
        display: flex;
        flex-wrap: wrap;
    }

    /* .feature{
        width: 100%;
        float: none;
        margin-bottom: 50px;
    } */

    .row h3{
        margin: 15px 0;
    }

    .fb,
    .tw,
    .dr{
        margin-top: 20px;
    }

    .navbar{
        overflow: hidden;
        position: absolute;
        right: 30px;
        top: 50px;
        display: block;
        z-index: 1000;
    }

    .burger-nav{
        background: url("../img/hamburger.png") no-repeat 100% center;
        display: block;
        height: 33px;
        width: 40px;
        cursor: pointer;
        float: right;
        margin-bottom: 10px;
    }

    .container nav ul{
        height: 0px;
        overflow: hidden;
        background: #282828;
    }

    .container nav ul.open{
        height: auto;
        clear: both;
    }

    .container nav ul li{
        float: none;
        text-align: right;
        width: auto;
        margin: 0;
        display: block;
    }

    .container nav ul li a{
        color: white;
        padding: 10px;
        display: block;
        margin: 0;
    }

    .container nav ul li a:hover{
        border: none;
    }
}

@media only screen and (max-width: 768px) {
    .footer__col{
        width: 100%;
        float: none;
        margin-top: 0;
        font-weight: 400;
    }

    .footer__logo{
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 700px) {
    .cr:after,
    .me:after{
        display: none;
    }
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}